*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color:#14f55f;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}


p{
     font-size: 1.5em;
}

#title,#content {
    padding-top: 3vw;
    padding-left: 10vw;
}

#title{
    margin-top: 10vw;
}

html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }